[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
black = "*"
pymongo = "*"
lxml = "*"
pydantic = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.11"
